/*--def--*/
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;            /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;         /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;              /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) 
{
	.pog {display: none;}
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/* commun */
.com1{
	padding: 20px 10px;
	text-align: center;
}
.com2 {
	padding: 5px 10px;
	text-align: center;
}
/* DivTable */
.divTable{
	display: table;
	width: 100%;
	}
	.divTableBody {
		display: table-row-group;
		}
		.divTableRow {
			display: table-row;
		}
		.divTableCell, .divTableHead {
			display: table-cell;
			vertical-align: middle;
			width: 50%
		}
			.divTableHeading {
				background-color: #EEE;
				display: table-header-group;
			}
			.divTableHeading {
				font-weight: bold;
			}
			.divTableFoot {
				background-color: #EEE;
				display: table-footer-group;
				font-weight: bold;
			}

	.r {}
	.red {}

/* RESPONCE */
img {
	max-width: 100%;
	height: auto;
}
.br {
	word-wrap: break-word;
}

/* theme */
body {
    background-color: #555;
}

.box {
	width: 90%;  	
	margin: 3px 7px 5px 3px;	
	display:inline-block;
	
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #dcdcdc;
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );
	background-color:#ededed;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;
}
.box:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}

.myButton {
	color:#444;
	display:inline-block;
	text-shadow:1px 1px 0px #ffffff;	
	text-decoration:none;	
	padding:9px 8px 7px 8px;
}
.myButton:active {
	position:relative;
	top:1px;
}

.foo {
	text-align: center;
	position: fixed;
	bottom: 20px;
	}
	.foo1 {
		left: 4%;
	}
	.foo2 {
		right: 5%;
}
.foo .box {
	margin: 3px
}
.naz {
	left: 50%;
	margin-left: -27px;
	bottom: 10px;
}
.nazad {
	clear: both;
	text-align: center;
	width: 60px;
	padding-left: 50%;
	margin-left: -30px
}
.nazad .box { margin-left: 0 }

.ico { 
    height: 28px;
    width: 30px;
}
.ico_b {
	padding-bottom: 0
}
.ico_b img {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.price_menu .box a {	
	display: inline-block;
	vertical-align: middle
}

.kurs {
	position: absolute;
	top: 2em;
	left: 50%;
	margin-left: -150px
}

/* MOBILE */
@media (max-width: 480px) 
{
	.box {
		min-height: 44px
	}	
	.dub {
		padding-top: 15px;
	}
	.foo2 .box {}
	.pic { margin-bottom: 1% }
}
/* TABLET */
@media (min-width: 768px) 
{
	.foo1 {
		left: 4%;
	}
	.foo2 {
		right: 5%;
	}
	.foo2 .dub {
		padding-top: 12px;
	}
	.pic { width: 49%; margin: 0 1% 1% 0; float: left}
}
.soon {
	text-align: center;
	color: aliceblue
}
