<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="3.9.13" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>klimat</name>
    <description>
        the application that show prices.
    </description>
    <author email="2donow.ru@gmail.com" href="http://2donow.ru">
        Evgeniy Gribkov
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <icon src="www/res/logo_klimat.png" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
    <allow-navigation href="*" />
    <access origin="*" />
    <allow-intent href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <allow-intent href="*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~6.3.0" />
</widget>
